@charset "utf-8";

body{
    background: #000 url(../images/netflix_bg2.jpg) no-repeat center top/100%
                auto;
    color: #fff;
    font-family: sans-serif;
}
header{
     background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(46, 22, 28, 0) 100%);
    
}

header .inner{
     width: 100%;
     max-width: 1290px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     height: 88px;
     align-items: center;
     padding: 0 1.25rem;
}
.logo{
    width: 148px;
    height: 40px;
    background-image: url(../images/Netflix_logo.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left center;
    
}

.nav{
  display: flex;
  gap: 12px;
}

.nav select,
.nav button{
    min-width: 124px;
    height: 32px;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0 36px;
    color: #fff;
}

.nav select{
    border: 1px solid #fff;
    padding-left: 30px;
    background: url(../images/netflix_lag_logo.svg) no-repeat 12px center/20px auto;
}
.nav button{
    background-color: #d81e27;

}
.onbording{
    width: 100%;
    max-width: 600px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
}
.onbording h2{
    font-size: 56px;
    font-weight: 900;
    line-height: 1.25;
}
.onbording p{
    font-size: 20px;
    margin-bottom: 1rem;
}
.input_container{
    height: 56px;
    display: flex;
    gap: 8px;
    margin-top: 1rem;
}
.input_container input,
.input_container button{
    border-radius: 8px;
    padding: 0 1.25rem;
}
.input_container input{
    flex-grow: 1;
}
.input_container button{
    background-color: #d81e27;
    font-size: 1.25rem;
    color: #fff;;
}
form h3{
    font-size: 1rem;
}

.link_box{

    max-width: 1290px;
    width: 70%;
    height: 100px;
    background: #471757;
    background: linear-gradient(90deg,rgba(71, 23, 87, 1) 0%, rgba(39, 8, 92, 1) 100%);
    margin: 20px auto;
    border-radius: 20px;
    padding: 16px 0 0 16px;
    position: relative;

}
.link_box text p{
    font-size: 20px
}
.link_box a{
    width: ;
    position: absolute;
    right: 20px;
    top: 40px;

    
}