@charset "utf-8";

body{
    background-color: red;
    max-width: 1920px;
    min-width: 620px;
}
header{
    background-color: blue;
    width: 80%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;


}
.logo{
    width: 148px;
    height: 40px;
    background-image: url(../images/Netflix_logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    margin: 22px 0 0 16px;
}

.lag{
        margin: 22px 0 0 16px;
}

.lag select{
    width: 124px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    background: url(../images/netflix_lag_logo.svg) no-repeat left center;
}